*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  width: 100%;
}

.container{
  max-width: 66vw;
  padding: 2rem 1rem;
  margin: 0 auto;
  cursor: pointer;

}
a{
  text-decoration: none;
}
.header{
  margin-bottom: 2.8rem;
}
.heading-title{
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  text-align: center;
}
.head-discription{
  max-width: 768vw;
  text-align: center;
  color: rgb(95, 86, 86);
  margin: 0 auto;
}
.main-container{
  display: grid;
  gap: 1.5rem;
 /* grid-template-columns: repeat(1,1fr); */
 grid-template-columns: repeat(auto-fit,minmax(350px, 400px));
 justify-content: center;
}

/* @media(min-width: 650px){
  .main-container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(min-width:1080px){
  .main-container{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width: 1340px){
  .main-container{
    grid-template-columns: repeat(4,1fr);
  }
} */
.card-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 8px;
}
.card-img-container{
  position: relative;
  overflow: hidden;
  height: 14rem;
}
.card-image{
  object-fit: cover;
  object-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}
.author-avatar{
    height: 100%;
  width: 100%;
}
.card-title-container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.card-container:hover .card-image{
  transform: scale(1.1);
  transition: 200ms;
}
.card-title{
  font-size: 1rem;
  font-weight: 700;
  color: black;
  margin-bottom: 0.5rem;
}
.card-title-anchor:hover .card-title{
  color: blue;
}
.card-description{
 color: rgb(112, 104, 104); 
 font-size: 1rem;
}
.card-footer-container{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: flex-end;
}
.author-container{
  display: flex;
   flex-direction: row;
  align-items: center;
  gap: 1rem; 
}
.author-avatar-container{
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
  border: black solid 2px;
  border-radius: 50%;
  background-size: cover;       /* Image container cover karto */
  background-position: center;  /* Center madhe image align karto */
  background-repeat: no-repeat; 

  
  }
.author-info-container{
  display: flex;
  flex-direction: column;
  column-gap: 2px;
}
.date{
   color: rgb(112, 104, 104); 
     font-size: 0.7rem;}
.name{
  color: rgb(88, 88, 235);
}
.card-tag-container{
  font-size: 0.8rem;
  border: 1px solid(36, 33, 33);
  border-radius: 3px;
  color: blue;
  margin-top: 7px;
  margin-left: 5px;
}